<%- include("header") -%>
    <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>

        <div class="row">

            <div class="column">
                <div class="left-side">
                    <img src="images/Logo.png" alt="CDMS">
                    <h1 class="left-side-header">Company Database Management System</h1>
                    <div class="image-container">
                        <img src="images/bg.png" alt="Co-Worker">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="right-side">
                    <h3>Login As Worker</h3>
                    <input type="text" placeholder="Email" required class="email">
                    <input type="text" placeholder="Password" required class="password">
                    <button type="submit" class="button-1"> <a href="workers-details-worker.html">Login</a></button>
                    <footer>© All rights reserved - Company Database Management System.</footer>
                </div>
            </div>

        </div>

    </body>

    </html>